.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

body {
    background-color: whitesmoke;
    font-family: "Roboto Black", sans-serif;
}



.navbar-light .navbar-nav .nav-link {
    font: italic;
    color: black;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: white
}
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}
/*.navbar {*/
/*    background: rgba(0,0, 0, 0.5);*/
/*}*/


.intro-text  {
    display: inline-block;
    position: absolute;
    top: 80%;
    left: 15%;
    font-weight: bold;
  }
.intro-text > h1 {
    color: black;
}
.intro-text > h1::before {
    z-index: 10;
    content: "";
    position: absolute;
    width: 100%;
    height: 75%;
    bottom: 25px;
    left: -20px;
    padding: 0%;
    background: rgba(255, 215, 0, 0.5);
    z-index: -1;
  }

.btn-block {
    position: relative;
    left: 82%;
    border-radius: 2px;
    
    background-color:black;
}

.side-buttons {
   
    position: relative;
    margin-top: 30%;
    
    /* top: 55%; */
    
}

#btn-history {
    position: absolute;
    
    
    padding-right: 243px;
}


#btn-architecture {
    margin-top: 75px;
    position: absolute;
    
    padding-right: 180px;
    /* top: 65%; */

}

#btn-significance {
    margin-top: 150px;
    
    position:absolute;
    padding-right: 193px;
    /* top: 70%; */
}


.btn-block:hover {
    background-color: gold;
}




.btn-block a {
    color: whitesmoke;
    padding-top: 10px;
    text-decoration: none;
}

.btn-block:hover a {
    color: black;
    
}

.burger-menu {
    display: none;
}



.carousel-slide {
    width: 30vw;
    height: 10vh;
    
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.container {
    width: 90vw;
    height: auto;
    top: 110vh;
    position: relative;
    
    display: block;
    
    margin: auto;
    
    padding: 3%;
    z-index: -1;
}

.container > h1 {
    margin: 5%;
    margin-bottom: 0;
}

.content-paragraph  {
    
}

.content-fullparagraph {
    margin-bottom: 5%;
}



.halfwidth {
    
    width: 50%;
    /* margin-left: 10%; */
}

.halfwidth > p {
    margin-top:5%;
    
}

.content-half-half {
   padding-top: 1%;
    display: flex;
   height: 50%;
   overflow: hidden;
    margin-bottom: 5%;
}

.content-image {
    border-style: solid;
    padding: 1%;
    width: 50%;
    height: 40vh;
}

.content-image > img{
    object-fit: cover;
        display: inline;
        /* margin: 0 auto; */
            width: 100%;
            height: 100%;
}

#right-image {
    /* padding-right: 0; */
    margin-left: 5%;
}

#left-image {
    /* padding-left: 0; */
    margin-right: 5%;
}

.full-image {
    margin-bottom: 5%;
    width: 100%;
    height: 50%;
}

.full-image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}





.scroll-container {
    position: fixed;
    margin: auto;
    left: 50%;
    margin-top: 10%;
    padding-top: 5%;
    width: 70vw;
    height: 60vh;
    overflow-x: hidden; /*or overflow-x:scroll */
    display: block;
    border-style: solid;
  }


.timeline {
    width: 3000px;
    /* border-style: solid; */
    margin-top: 10%;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    height: 10%;
}

.timeline > .hl{
    border-top: 6px solid black;
    width: 3000px;
    position: relative;
   
    margin-top: 0;
    /* padding: 5%; */
    justify-content: center;
    align-items: center;
    
    
}

.vertical-dashes-top {

    display: flex;
    position: relative;
    left: 20%;
    
}

.vertical-dashes-bottom {

    display: flex;
    position: relative;
    
}



.vertical-dashes-bottom > .vl {
    border-left: 6px solid black;
    height: 40px;
    margin-right: 39.7%;
    
    
}
  
.vertical-dashes-top > .vl {
    border-left: 6px solid black;
    height: 40px;
    margin-right: 39.7%;
}
  
  h1 {
    margin: 0;
  }
  .scroll-content-top {
      display: flex;
      margin-left: 7%;
      
  }

  .scroll-content-bottom {
      display: flex;
      position: relative;
    margin-top: 10%;
    margin-left: 7%;
  }

  .scroll-content-bottom > .scroll-image {
      max-height: 30%;
      width: 10%;
  }

  .scroll-image > img{
      width: 100%;
      height: 100%;
  }
  
  .scroll-content-top > section{
    min-width: 15%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4ch;
    
  }

  .scroll-content-top > section:nth-child(odd){
    min-width: 15%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4ch;
    
  }

  .scroll-content-bottom > section{
    min-width: 15%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4ch;
    
  }



  .scroll-content-bottom > section:nth-child(even) {
    
    background-color: teal;
    color: white;

    min-width: 15%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4ch;
    border-style: solid;
    
  }
  .nav-colored { background-color:#000; }
  .nav-transparent { background-color:transparent;}

@media (max-width: 1000px) {
    body {
        
        background-size: 500%;
        /* margin: auto; */
        background-position: 50% 110%;
    /* background-blend-mode:luminosity; */
    }

    .side-buttons {
        display: none;
    }

    .navbar {
        display: none;
    }

    .burger-menu {
        display: block;
        
        position: fixed;
        /* background-color: aliceblue; */
        background: rgba(255, 215, 0, 0.99);
        width: 100%;
        
    }
      
      .burger-menu #myLinks {
          
        background-color: black;
        color: white;
        display: none;
        /* margin-top: 10px; */
        
      }

      .burger-menu a {
          
        color: white;
        padding: 14px 16px;
         width:100%;

        text-decoration: none;
        /* text-align: left; */
        font-size: 17px;
        display: block;
      }
      
      

      .burger-menu a.icon img {
       
        
        display: block;
        position: relative;
        margin-top: 10px;
        left: 75vw;
        top: 0;
        max-width: 50px;
        max-height: 60px;

      }
      
      .burger-menu #myLinks a:hover {
        background: rgba(255, 215, 0, 0.5);
        color: black;
      }


      

      
      .content-image {
          position: relative;
          width: 100%;
          margin: auto;
          margin-top: 5%;
         height: 30%;
          /* object-fit: cover;
          object-position: 50%; */
          border-style: solid;

         
      }

      .content-image > img {
        object-fit: cover;
        display: inline;
        margin: 0 auto;
            width: 100%;
            height: 100%;

      }

      img {
            object-fit: cover;
      }

      .halfwidth {
            width: 100%;
      }

      .content-half-half {
          padding: 1%;
          display: block;
          width: 100%;
          padding: auto;
      }
      
      p {
          font-size: medium;
          
      }

      #right-image {
          /* padding: inherit; */
          margin-left: inherit;
      }

      #left-image {
          /* padding: inherit; */
      }
    

      

    
  }
  