.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
html{
    min-height: 100%;
}


body {
    background-color: whitesmoke;
    font-family: "Roboto Black", sans-serif;
    display: block;
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

p {
    line-height: 1.6;
}

/* Navigation Bar Style */
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    /*font: italic;*/
    color: white;
    transition: 0.5s;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #FAD516;
}

.navbar-light .navbar-nav .nav-link :active {
    color: #FAD516;
}

li{
    color: white;
}
.nav-item{
    color: white;
}
.navbar a {
    color:white;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
/*.navbar {*/
/*    background: rgba(0,0, 0, 0.5);*/
/*}*/
/* social media icons navbar */
.social-media>a{
    transition: transform 0.5s;
}
.social-media>a:hover{
    transform: rotate(180deg);
}
/* end of social media icons navbar */

/* drop down menu style navbar */
.drop-container {
    display: none;
    position: absolute;
    margin-top: 5%;
    /* margin-left: 10vw;
    margin-right: 10vw; */
    width: 100%;
    background-color: black;
    /* border-style: solid; */
    height: 80vh;
    z-index: 1;
}

.drop-content>h3>a
{
    transition: 0.8s;
    color: white;
    text-decoration: none;
}

.drop-content>h3>a:hover
{
    color: #FAD516;
}

.navbar-brand {
    margin-left: 2%;
  }
  .social-media {
    margin-right:2%;
  }

.drop-segment
{
    position: relative;
    width: 80%;
    height: 60%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    /* border: solid green; */
    overflow: hidden;
}

.drop-title>a{
    text-decoration: none;
}
/* drop menu animation class */
.menu-transition{
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }

}
/*  end of drop menu animation class */
#close {
    position: absolute;
    width: 20px;
    weight: 20px;
    right: 0;
    margin: 3%;
    cursor: pointer;
}

#close > img {
    width: 100%;
    height: 100%;
}

.drop-container h1 {
    color: white;
}

.drop-container h3 {
    color: white;
}

.hl {
    border-top: 6px solid white;
    width: 100%;
    position: relative;
    /* margin-top: */
    margin-left: -3px;

}

.drop-title {
    position: relative;

}

.drop-content {
    position: relative;
    width: 80%;
    margin-top: 4%;
    margin-left: 25%;
}



.drop-content > h3 {
    /* padding: 1%; */
    padding-top: 1%;
    padding-bottom: 1%;
}

.drop-content > .hl {
    width: 100%;
    margin-top: 1%;
}

.drop-toggle {
    display: flex;
    margin: 10%;
}

.drop-toggle > button {
    margin-left: 1%;
    height: 10%;
}

.drop-toggle-buttons {
    margin-left: 10%;
}
/* end of drop down */
/* end of navbar */

.intro-text  {
    display: inline-block;
    position: absolute;
    top: 80%;
    left: 15%;
    font-weight: bold;
  }
.intro-text > h1 {
    color: white;
    z-index: 20;
}
/*.intro-text > h1::before {*/
/*    z-index: 10;*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 75%;*/
/*    bottom: 25px;*/
/*    left: -20px;*/
/*    padding: 0%;*/
/*    background: rgba(255, 215, 0, 0.5);*/
/*    !*z-index: -1;*!*/
/*  }*/

.btn-block {
    position: relative;
    left: 82%;
    border-radius: 2px;
    
    background-color:black;
}

.side-buttons {
   
    position: relative;
    margin-top: 30%;
    
    /* top: 55%; */
    
}

#btn-history {
    position: absolute;
    
    
    padding-right: 243px;
}


#btn-architecture {
    margin-top: 75px;
    position: absolute;
    
    padding-right: 180px;
    /* top: 65%; */

}

#btn-significance {
    margin-top: 150px;
    
    position:absolute;
    padding-right: 193px;
    /* top: 70%; */
}


.btn-block:hover {
    background-color: gold;
}




.btn-block a {
    color: whitesmoke;
    padding-top: 10px;
    text-decoration: none;
}

.btn-block:hover a {
    color: black;
    
}

.burger-menu {
    display: none;
}



.carousel-slide {
    width: 30vw;
    height: 10vh;
    
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}


.container {
    width: 90vw;
    min-height: 100%;
    height: auto;
    top: 110vh;
    position: relative;
    /* background-color: aqua; */
    display: block;
    
    margin: auto;
    
    padding: 3%;
    padding-bottom: 0;
    z-index: -1;
}

.container > h1 {
    margin: 5%;
    margin-bottom: 0;
}

.content-paragraph  {
    
}

.content-fullparagraph {
    margin-bottom: 5%;
}



.halfwidth {
    
    width: 50%;
    /* margin-left: 10%; */
}

.halfwidth > p {
    margin-top:5%;
    
}

.content-half-half {
   padding-top: 1%;
    display: flex;
   height: 50%;
   overflow: hidden;
    margin-bottom: 5%;
}

.content-image {
    border-style: solid;
    padding: 1%;
    width: 50%;
    height: 40vh;
}

.content-image > img{
    object-fit: cover;
        display: inline;
        /* margin: 0 auto; */
            width: 100%;
            height: 100%;
}

#right-image {
    /* padding-right: 0; */
    margin-left: 5%;
}

#left-image {
    /* padding-left: 0; */
    margin-right: 5%;
}

.full-image {
    margin-bottom: 5%;
    width: 100%;
    height: 50%;
}

.full-image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.intro-text>h1
{
    text-shadow: 2px 2px #0f0f0f;
}

.footer  {
    position: relative;
    /* background-color: violet; */
    background-color: black;
    border-top: solid;
    object-position: center;
    align-items: center;
    left: -30%;
    margin-top: 10%;
    width: 158.9%;
    height: 50vh;
    display: flex;
    padding: auto;
    margin-bottom: 0%;
}

.footer > .vl {
    /* margin-left: 16.5%; */
    position: relative;
    bottom: 0;
    /* margin-top: 11.5%; */
    border-left: 6px solid white;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    /* margin-right: 5%; */
}

.footer-source {
    margin-left: 16%;
    margin-right:10%
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: #FAD516;
}

.footer {
    color: white;
}

.footer-social {
    margin-left: 10%;
    margin-right:10%
}

.footer-content {
    margin-left: 10%;
    margin-right:10%
}

.footer h3 {
    margin-bottom: 20%;
}

/* footer{
    height: 100px; 
    width:100%;
    position: relative;
    left: 0;
    bottom: 0; 
} */
  
  .nav-colored { background-color:#000; }
  .nav-transparent { background-color:transparent;}

@media (max-width: 1000px) {

    .footer {
        display: none;
    }

    body {
        
        background-size: 500%;
        /* margin: auto; */
        background-position: 50% 110%;
    /* background-blend-mode:luminosity; */
    }

    .side-buttons {
        display: none;
    }

    .navbar {
        display: none;
    }

    .burger-menu {
        display: block;
        
        position: fixed;
        /* background-color: aliceblue; */
        background: rgba(255, 215, 0, 0.99);
        width: 100%;
        
    }
      
      .burger-menu #myLinks {
          
        background-color: black;
        color: white;
        display: none;
        /* margin-top: 10px; */
        
      }

      .burger-menu a {
          
        color: white;
        padding: 14px 16px;
         width:100%;

        text-decoration: none;
        /* text-align: left; */
        font-size: 17px;
        display: block;
      }
      
      

      .burger-menu a.icon img {
       
        
        display: block;
        position: relative;
        margin-top: 10px;
        left: 75vw;
        top: 0;
        width: 50px;
        height: 60px;

      }
      
      .burger-menu #myLinks a:hover {
        background: rgba(255, 215, 0, 0.5);
        color: black;
      }


      

      
      .content-image {
          position: relative;
          width: 100%;
          margin: auto;
          margin-top: 5%;
         height: 30%;
          /* object-fit: cover;
          object-position: 50%; */
          border-style: solid;

         
      }

      .content-image > img {
        object-fit: cover;
        display: inline;
        margin: 0 auto;
            width: 100%;
            height: 100%;

      }

      img {
            object-fit: cover;
      }

      .halfwidth {
            width: 100%;
      }

      .content-half-half {
          padding: 1%;
          display: block;
          width: 100%;
          padding: auto;
      }
      
      p {
          font-size: medium;
          
      }

      #right-image {
          /* padding: inherit; */
          margin-left: inherit;
      }

      #left-image {
          /* padding: inherit; */
      }
    

      

    
  }
  